<div class="grid-form">
	<div class="grid-form1">
		<div class="float-left">
			<h3 id="forms-horizontal">{{ menu.name }}</h3>
		</div>
		<div class="float-right">
			<div class="dropdown">
				<a href="#" title="" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
					{{ selectedLanguage }}
					<i class="fa fa-chevron-down icon_8"></i>
					<div class="ripple-wrapper"></div>
				</a>
				<ul class="dropdown-menu float-right">
					{% for lang in languageList %}
					<li>
						<a href="?lang={{ lang }}">{{ lang }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
		<form class="form-horizontal" method="post" action="{{ server }}/{{ language }}/admin/menu/edit/{{ menu.key }}?lang={{ selectedLanguage }}">
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label hor-form">{{ T.order }}</label>
				<div class="col-sm-10">
					<select class="col-sm-2 control-label hor-form" id="order" name="order">
						{% for i in Array(10) %}
							<option value="{{ loop.index }}" {% if menu.order === loop.index %} selected {% endif %}>{{ loop.index }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label hor-form">{{ T.name }}</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="name" name="name" placeholder="{{ T.name }}" value="{{ menu.name }}">
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label hor-form">{{ T.link }}</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="link" name="link" placeholder="{{ T.link }}" value="{{ menu.link }}">
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label hor-form">{{ T.target }}</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="target" name="target" placeholder="_black" value="{{ menu.target }}">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">{{ T.save }}</button>
				</div>
			</div>
		</form>
	</div>
</div>