<div class="sidebar-nav navbar-collapse">
	<ul class="nav in" id="side-menu">
		<li>
		    <a href="{{ server }}/{{ language }}/admin" class="hvr-bounce-to-right"><i class="fa fa-dashboard nav_icon "></i><span class="nav-label">{{ T.dashboards }}</span> </a>
		</li>
		<li>
			<a href="{{ server }}/{{ language }}/admin/menu" class="hvr-bounce-to-right"><i class="fa fa-indent nav_icon"></i> <span class="nav-label">{{ T.menu }}</span> </a>
		</li>
		<li>
			<a href="{{ server }}/{{ language }}/admin/user" class="hvr-bounce-to-right"><i class="fa fa-user nav_icon"></i> <span class="nav-label">{{ T.user }}</span> </a>
		</li>
		<li>
			<a href="{{ server }}/{{ language }}/admin/portfolio" class="hvr-bounce-to-right"><i class="fa fa-picture-o nav_icon"></i> <span class="nav-label">{{ T.portfolio }}</span> </a>
		</li>
		<li>
			<a href="{{ server }}/{{ language }}/admin/skill" class="hvr-bounce-to-right"><i class="fa fa-star-o nav_icon"></i> <span class="nav-label">{{ T.skill }}</span> </a>
		</li>
		<li>
			<a href="{{ server }}/{{ language }}/admin/experience" class="hvr-bounce-to-right"><i class="fa fa-file-text-o nav_icon"></i> <span class="nav-label">{{ T.experience }}</span> </a>
		</li>
		<li>
			<a href="#" class="hvr-bounce-to-right"><i class="fa fa-cog nav_icon"></i> <span class="nav-label">{{ T.settings }}</span> <span class="fa arrow"></span></a>
			<ul class="nav nav-second-level collapse">
				<li><a href="{{ server }}/{{ language }}/admin/settings/language" class="hvr-bounce-to-right"><i class="fa fa-file-o nav_icon"></i>{{ T.language }}</a></li>
				<li><a href="{{ server }}/{{ language }}/admin/settings/template" class="hvr-bounce-to-right"><i class="fa fa-desktop nav_icon"></i>{{ T.template }}</a></li>
				<li><a href="{{ server }}/{{ language }}/admin/settings/system" class="hvr-bounce-to-right"><i class="fa fa-th nav_icon"></i>{{ T.system }}</a></li>
			</ul>
		</li>
	</ul>
</div>