<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ settings.websiteName }} | {{ T.adminManagementSystem }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<link href="{{ server }}/css/system.bootstrap.min.css" rel='stylesheet' type='text/css' />
		<!-- Custom Theme files -->
		<link href="{{ server }}/css/system.style.css" rel='stylesheet' type='text/css' />
		<link href="{{ server }}/css/system.font-awesome.css" rel="stylesheet"> 
		<script src="{{ server }}/js/system.jquery.min.js"> </script>
		<!-- Mainly scripts -->
		<script src="{{ server }}/js/system.jquery.metisMenu.js"></script>
		<script src="{{ server }}/js/system.jquery.slimscroll.min.js"></script>
		<!-- Custom and plugin javascript -->
		<link href="{{ server }}/css/system.custom.css" rel="stylesheet">
		<script src="{{ server }}/js/system.custom.js"></script>
		<script src="{{ server }}/js/system.screenfull.js"></script>
		<script>
			$(function () {
				$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

				if (!screenfull.enabled) {
					return false;
				}

				$('#toggle').click(function () {
					screenfull.toggle($('#container')[0]);
				});
			});
		</script>
		<!--pie-chart-->
		<script src="{{ server }}/js/system.pie-chart.js" type="text/javascript"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$('#demo-pie-1').pieChart({
					barColor: '#3bb2d0',
					trackColor: '#eee',
					lineCap: 'round',
					lineWidth: 8,
					onStep: function (from, to, percent) {
						$(this.element).find('.pie-value').text(Math.round(percent) + '%');
					}
				});

				$('#demo-pie-2').pieChart({
					barColor: '#fbb03b',
					trackColor: '#eee',
					lineCap: 'butt',
					lineWidth: 8,
					onStep: function (from, to, percent) {
						$(this.element).find('.pie-value').text(Math.round(percent) + '%');
					}
				});

				$('#demo-pie-3').pieChart({
					barColor: '#ed6498',
					trackColor: '#eee',
					lineCap: 'square',
					lineWidth: 8,
					onStep: function (from, to, percent) {
						$(this.element).find('.pie-value').text(Math.round(percent) + '%');
					}
				});
			});
		</script>
		<!--skycons-icons-->
		<script src="{{ server }}/js/system.skycons.js"></script>
		<!--//skycons-icons-->
	</head>
	<body>
		<div id="wrapper">
			{% include './admin.navbar.html' %}
			<div id="page-wrapper" class="gray-bg dashbard-1">
				<div class="content-main">
					{% include './admin.path.html' %}
					{% include contentPage %}
					{% include 'admin.copy.html' %}
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

		<!--scrolling js-->
		<script src="{{ server }}/js/system.jquery.nicescroll.js"></script>
		<script src="{{ server }}/js/system.scripts.js"></script>
		<!--//scrolling js-->
		<script src="{{ server }}/js/system.bootstrap.min.js"> </script>
	</body>
</html>
