<div class="content-top">
	<div class="col-md-12">
		<div class="tab-pane active text-style" id="tab1">
			<div class="inbox-right">
				<div class="mailbox-content">
					<div class="mail-toolbar clearfix">
						<div class="float-left">
							<div class="btn-group">
								<a class="btn btn-default" href="user/add">New</a>
							</div>
						</div>
						<div class="float-right">
							<div class="btn-group">
								<a class="btn btn-default {% if page == 1 %} disabled {% endif %}" href="?p={{ page-1 }}">
									<i class="fa fa-angle-left"></i>
								</a>
								<a class="btn btn-default {% if page == totalPage %} disabled {% endif %}" href="?p={{ page+1 }}">
									<i class="fa fa-angle-right"></i>
								</a>
							</div>
							<div class="dropdown">
								<a href="#" title="" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
									{{ page }}
									<i class="fa fa-chevron-down icon_8"></i>
									<div class="ripple-wrapper"></div>
								</a>
								<ul class="dropdown-menu float-right">
									{% for i in Array(totalPage) %}
									<li>
										<a href="?p={{ loop.index }}">{{ loop.index }}</a>
									</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					<table class="table">
						<tbody>
							{% for user in userList %}
								<tr class="table-row">
									<td class="table-img">
										{% if user.picture.length > 0 %}
											<img class="sm-head-pic" src="{{ server }}/{{ user.picture }}" alt="" />
										{% endif %}
									</td>
									<td class="table-text">
										<a href="user/view/{{ user.username }}"><h6>{{ user.firstName }} {{ user.lastName }}</h6></a>
										<p>{{ user.introduction }}</p>
									</td>
									<td>
										<span class="fam">{{ user.privilege }}</span>
									</td>
									<td class="social">
										{% if user.facebook.length > 0 %}
											<a class="social facebook_icon" href="{{ user.facebook }}" target="_blank"></a>
										{% endif %}
										{% if user.twitter.length > 0 %}
											<a class="social twitter_icon" href="{{ user.twitter }}" target="_blank"></a>
										{% endif %}
										{% if user.google.length > 0 %}
											<a class="social google_icon" href="{{ user.google }}" target="_blank"></a>
										{% endif %}
										{% if user.linkedin.length > 0 %}
											<a class="social linkedin_icon" href="{{ user.linkedin }}" target="_blank"></a>
										{% endif %}
										{% if user.flickr.length > 0 %}
											<a class="social flickr_icon" href="{{ user.flickr }}" target="_blank"></a>
										{% endif %}
									</td>
									<td >
										{% if user.username !== loginUser.username %}
											<a href="#" onclick="deleteUser('{{ user.username }}');"><i class="fa delete fa-trash-o"></i></a>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"> </div>
</div>
<script type="text/javascript">
	function deleteUser(username){
		if (confirm("Are you sure you want to delete?")) {
			$.ajax({
				url: '{{ server }}/admin/user/' + username,
				type: 'DELETE',
				success: function(data) {
					// Delete success and reload
					location.reload();
				},
				error: function() {
					console.error('delete error');
				},
				cache: false,
				contentType: false,
				processData: false
			}, 'json');
		}
	}
</script>